.login-container  {
    
    text-align: center;
    
    
  }

.login-button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    height: 55px;
    width: 250px;
    
    
}  

.register-button{
    text-decoration: none;
    border: none;
    background-color: blue;
    display: inline-block;
    color: white;
    height: 20px;
    width: 80px;

}

