<form class="register-container">
  <h1>Register </h1>


  <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstname" type="text" placeholder="Enter your first name" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput placeholder="">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="abc@gmail.com">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="GTown">


      </mat-form-field>
    </p>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <h1></h1>


    <button class=" register-button" type="submit">
      Register
    </button>

  </form>


  <div class="switchloginbutton">
    <p>Have an account? </p>
    <a routerLink="/login">Login here</a>
  </div>