.register-container{
    text-align: center;
}
.register-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    height: 55px;
    width: 250px;
}